*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    
}
html { 
    background: url(/static/image/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    font-family: 'Poppins', sans-serif;
}
.logo{
    display: flex;
}
.logo--elemnts{
    justify-content: center;
    align-items: center;
}
.logo h4{
    color: honeydew;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: 'Rock Salt', cursive;
    
}
.logo img{
    width: 25px;
    height: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(31, 63, 78);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    color:rgb(10, 114, 92);
}
.nav-links .current:hover{
    color: rgb(106, 245, 215);
}
.nav-links .current{
    color: rgb(106, 245, 215);
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: lavender;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(4 53 41,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}