<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <title>Seismic Analytical System</title>
    <style>
      .content{
        padding: 10%;
        font-family: Rock Salt;
        display: flex;
        flex-direction: column;
      }
      .content p,h3,div{
        align-self: center;
      }
      .content div{
        font-size: 25px;
      }
      .link{
        display: flex;
        flex-direction: column;
      }
      .link a{
        align-self: center;
      }
      .link a:hover{
        color: purple;
      }
    </style>
  </head>
  <body>
        <nav style="background-color:rgba(57, 126, 108,0.5);">
          <div class="logo">
            <img src="/static/image/logo.png"></img>
            <h4 >Seismic Data Analytical System</h4>
          </div>
          <ul class="nav-links">
            <li>
              <a class="current" href="{{url_for('index')}}">Home</a>
            </li>
            <li>
              <a href="{{url_for('search')}}">Search</a>
            </li>
            <li>
              <a href="{{url_for('analytics')}}">Analytics</a>
            </li>
            <li>
              <a href="{{url_for('about')}}">About</a>
            </li>
          </ul> 
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>        
        </nav>

    <div class="content">
        <p>
          <strong>
            Welcome to Seismic Data Analytical System!  
          </strong>
        </p>
        <p>
          This is the Cloud Application which provides analysis of Seismic Acitivity data around the world.
        </p>
        <h3>Explore More Here</h3>
        <div class="link">
          <a href="{{url_for('search')}}">Search Events</a>
          <a href="{{url_for('analytics')}}">Analysis of Year Data</a>
        </div>
    </div>
    <script src="/static/javascript/home.js"></script>
   
  </body>
</html>